In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os


data = np.load(file=os.getcwd() + "\\FGNET\\npz\\fgnet.npz")
x = data['x']
y = data['y']
pid = data["pid"]

gender = pd.read_excel("gender.xlsx")

age_group = np.zeros(14, dtype=int)
age_group_male = np.zeros(14, dtype=int)
age_group_female = np.zeros(14, dtype=int)
for y_val, pid_val in zip(y, pid):
    if y_val <= 4:
        age_group[0] += 1
        if gender.loc[pid_val - 1, "Gender"] == "Male": age_group_male[0] += 1
        elif gender.loc[pid_val - 1, "Gender"] == "Female": age_group_female[0] += 1
    elif y_val <= 9:
        age_group[1] += 1
        if gender.loc[pid_val - 1, "Gender"] == "Male": age_group_male[1] += 1
        elif gender.loc[pid_val - 1, "Gender"] == "Female": age_group_female[1] += 1
    elif y_val <= 14:
        age_group[2] += 1
        if gender.loc[pid_val - 1, "Gender"] == "Male": age_group_male[2] += 1
        elif gender.loc[pid_val - 1, "Gender"] == "Female": age_group_female[2] += 1
    elif y_val <= 19:
        age_group[3] += 1
        if gender.loc[pid_val - 1, "Gender"] == "Male": age_group_male[3] += 1
        elif gender.loc[pid_val - 1, "Gender"] == "Female": age_group_female[3] += 1
    elif y_val <= 24:
        age_group[4] += 1
        if gender.loc[pid_val - 1, "Gender"] == "Male": age_group_male[4] += 1
        elif gender.loc[pid_val - 1, "Gender"] == "Female": age_group_female[4] += 1
    elif y_val <= 29:
        age_group[5] += 1
        if gender.loc[pid_val - 1, "Gender"] == "Male": age_group_male[5] += 1
        elif gender.loc[pid_val - 1, "Gender"] == "Female": age_group_female[5] += 1
    elif y_val <= 34:
        age_group[6] += 1
        if gender.loc[pid_val - 1, "Gender"] == "Male": age_group_male[6] += 1
        elif gender.loc[pid_val - 1, "Gender"] == "Female": age_group_female[6] += 1
    elif y_val <= 39:
        age_group[7] += 1
        if gender.loc[pid_val - 1, "Gender"] == "Male": age_group_male[7] += 1
        elif gender.loc[pid_val - 1, "Gender"] == "Female": age_group_female[7] += 1
    elif y_val <= 44:
        age_group[8] += 1
        if gender.loc[pid_val - 1, "Gender"] == "Male": age_group_male[8] += 1
        elif gender.loc[pid_val - 1, "Gender"] == "Female": age_group_female[8] += 1
    elif y_val <= 49:
        age_group[9] += 1
        if gender.loc[pid_val - 1, "Gender"] == "Male": age_group_male[9] += 1
        elif gender.loc[pid_val - 1, "Gender"] == "Female": age_group_female[9] += 1
    elif y_val <= 54:
        age_group[10] += 1
        if gender.loc[pid_val - 1, "Gender"] == "Male": age_group_male[10] += 1
        elif gender.loc[pid_val - 1, "Gender"] == "Female": age_group_female[10] += 1
    elif y_val <= 59:
        age_group[11] += 1
        if gender.loc[pid_val - 1, "Gender"] == "Male": age_group_male[11] += 1
        elif gender.loc[pid_val - 1, "Gender"] == "Female": age_group_female[11] += 1
    elif y_val <= 64:
        age_group[12] += 1
        if gender.loc[pid_val - 1, "Gender"] == "Male": age_group_male[12] += 1
        elif gender.loc[pid_val - 1, "Gender"] == "Female": age_group_female[12] += 1
    elif y_val <= 69:
        age_group[13] += 1
        if gender.loc[pid_val - 1, "Gender"] == "Male": age_group_male[13] += 1
        elif gender.loc[pid_val - 1, "Gender"] == "Female": age_group_female[13] += 1
    

# The Number of Samples
df = pd.DataFrame({"Male": age_group_male,
                   "Female": age_group_female,
                   "Total": age_group})
df

    Male  Female  Total
0    126      67    193
1    110      68    178
2    100      74    174
3     82      83    165
4     48      36     84
5     33      27     60
6     21      25     46
7     12      21     33
8     19       9     28
9      8      10     18
10     6       6     12
11     1       2      3
12     3       3      6
13     2       0      2